<!-- ***************************************************************************** -->

			<h3><%= @food.title %></h3>
			<h4><%= @food.opening %></h4>
			<%= @food.body %>

<!-- ***************************************************************************** -->