<div class="style1" id="footer">
<%= link_to 'Food', foods_path %> | 
<%= link_to 'Gallery', photos_path %> | 
<%= link_to 'Events', events_path %> | 
<%= link_to 'Sports', sports_path %> 

&nbsp;<%= link_to image_tag('facebook.gif', :alt => "Facebook", :title => "Facebook"), "http://www.facebook.com/#!/group.php?gid=325717813718&ref=ts" %>

&nbsp;Copyright © 2011 The Back Shed.  All rights reserved.
</div>	
